.success, .danger, .warning {
    text-align:center;
    font-style: italic;
}

.table th {
    text-align:center;
}

#width1 {
    width:125px;
}

#width2 {
    width:375px;
}

h3 {
    Text-align:center;
    font-family: Ravie, fantasy, cursive, arial;
    border-collapse: collapse;    
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: chartreuse;
}